<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved:</h2>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @article, local:true) do |f| %>
  <table>
    <tr>
      <td><strong><%= f.label :title %></strong></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><strong><%= f.label :description %></strong></td>
      <td><%= f.text_area :description %></td>
    </tr>
  </table>
  <p> <%= f.submit %> </p>
<% end %>
