<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
<table>
  <tr>
    <td><strong><%= f.label :title %></strong></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><strong><%= f.label :description %></strong></td>
    <td><%= f.text_area :description %></td>
  </tr>
</table>
<p> <%= f.submit "Create" %> </p>
<% end %>
